<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="utf-8" />
<title>Wicket Training: Cheesr - Cheese Online</title>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" >Cheesr - Cheese Online (Musterlösung 21)</a>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="col-md-6">
			<wicket:panel>
				<h2>Your Choice</h2>
				<table class="table">
					<tbody>
						<tr wicket:id="cart">
							<td wicket:id="name">Gouda</td>
							<td wicket:id="price">$ 2.99</td>
							<td><a wicket:id="remove" href="#">remove</a></td>
						</tr>
						<wicket:remove>
							<tr>
								<td>Emmental</td>
								<td>$ 1.99</td>
								<td><a href="#">remove</a></td>
							</tr>
						</wicket:remove>
					</tbody>
					<tfoot>
						<tr class="total">
							<th>Total</th>
							<td wicket:id="total">$ 4.98</td>
							<td>&nbsp;</td>
						</tr>
					</tfoot>
				</table>
			</wicket:panel>
			<input wicket:id="checkout" type="button" value="Check out"></input>
		</div>
	</div>
	<!-- /.container -->
</body>
</html>
